<h4 class="media-heading">
  <strong><%= comment.commenter %></strong>
 </h4>

<p>
  <%= comment.body %>
</p>

<p>
	<%= link_to 'Eliminar Comentario', [comment.post, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
</p>
<hr>